@model MyApp.Models.Item
@{
    ViewData["Title"] = "Edit";
}
<h3>Edit an item</h3>

<form asp-action="Edit" method="post">

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="type" class="form-control" asp-for="Name" />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>